body {
  width: 50%;
  height: 100vh;
  margin: 10;
  background-repeat: repeat;
  background: white;
}

main {
	margin-bottom: 50px;
	background-color: lightblue;
}


form {
  max-width: 700px;
  min-width: 300px;
  margin: 10;
  padding-bottom: 2em;
}

#etu, #suku{
    padding-bottom: 0em !important;
}

input{
    height: 25px;
    width: 50%;
    border: 1px solid #CCC;
    border-radius: 5px;
}

input[type="lähetä"] {
     display: block;
     width: 10%;
     margin: 0.5rem 0;
     height: 2em;
     min-width: 100px;
     text-align: center
}

option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.inline {
     width: unset;
     margin: 10;
     vertical-align: middle;  
     display: inline;

}

#butt{
    margin-top: 10px;
}

h1, p {
    margin: 1em auto;
    text-align: left;
}

div{
      border: 1px solid black;
      outline-style: double;
      margin: 0 auto;
      padding: 10px;
}

p.ex1 {
      border: 1px solid black;
      outline-style: double;
}

p.ex2 {
      border: 1px solid black;
      outline-style: double;
}

p.ex3 {
      border: 1px solid black;
      outline-style: double;
}

